ul.page-container
  each pageNumber in pagesArray
    a(href=`/books/page=${pageNumber}`)
      if pageParam === pageNumber
        li.page.active #{pageNumber}
      else 
        li.page #{pageNumber}