body {
  font: 18px "Roboto", serif;
  background-color: #31333E;
  color: #E5E5E5;
}

a {
  color: #DFA671;
  text-decoration: none;
  transition: 0.4s;
  font-weight: 700;
}

a.button, input[type=submit] {
  background: #C58449;
  color: #E5E5E5;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 12px 22px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

a.button.cancel {
  background: #6C7085;
}

form a.button, input[type=submit] {
  transition: 0.4s;
  background: #C58449;
}

input[type=submit] {
  border: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

.heading {
  margin: 120px auto 60px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.heading div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input.create {
  margin-top: 10px;
}

form label {
  margin-right: 35px;
}

table, .form-container {
  width: 55%;
  margin: 0 auto;
}

th {
  text-align: left;
  padding: 10px;
  border-bottom: 3px solid #434654;
}

tr {
  min-height: 50px;
}

td {
  padding: 14px 20px 10px 10px;
}

table .name-row th {
  font-size: 1.4em;
  font-weight: 700;
}

table tbody {
  font-size: 1.1em;
  font-weight: 400;
}

label {
  font-weight: 700;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  color: #E5E5E5;
  font-weight: 700;
}

input[type=text] {
  height: 48px;
  background: #222533;
  width: 75%;
  font-size: .7em;
  font-weight: 400;
  padding: 10px 18px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #535766;
}

input.update {
  background: #778909;
}

input.delete {
  background: #A72A2A;
}

.error {
  color: #F9444A;
  font-size: 1.6em;
}

