body {
  font: 18px "Roboto", serif;
  background-color: #31333E;
  color: #E5E5E5;
}

a {
  color: #DFA671;
  text-decoration: none;
  font-weight: 700;
}

a.button, .multi-button-container input[type=submit] {
  color: #E5E5E5;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 12px 22px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

a.button {
  height: 22px;
  margin-left: 20px;
}

a.button.delete {
  background: #A72A2A;
  
}

a.button.cancel {
  background: #6C7085;
}

a.button.no {
  background: #6C7085;
}

a.book-name {
  padding-bottom: 3px;
}

a.book-name:hover {
  border-bottom: 3px solid #bb8d62;
}

span.book-name-delete {
  color: #DFA671;
}

form a.button {
  background: rgb(190, 126, 65);
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

ul.page-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

ul li.page {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  background: #434654;
  border-radius: 5px;
  color: #DFA671;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

ul li.active {
  background: #C58449;
  color: #E5E5E5;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

.heading {
  margin: 120px auto 30px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.button-container,
.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.multi-button-container {
  display: flex;
}

.multi-link-container {
  display: flex;
}

.multi-link-container a {
  display: flex;
  color: #E5E5E5;
  font-weight: 500;
}

.filter-container {
  display: flex;
  width: 55%;
  margin: 0 auto 10px auto;
}

.filter-box {
  margin-right: 50px;
  font-weight: 500;
  display: flex;
}

.filter-box span {
  color: #bbbbbb
}

.close {
  margin-right: 10px;
}

.close svg {
  margin-top: 2px;
  cursor: pointer;
}

.heading .multi-button-container h2 {
  margin: 0;
  padding: 0;
}

form h2 label {
  margin-right: 35px;
}

table, .field-container {
  width: 55%;
  margin: 0 auto;
}

th {
  text-align: left;
  padding: 10px;
  border-bottom: 3px solid #434654;
}

tr {
  min-height: 50px;
}

td {
  padding: 14px 20px 10px 10px;
}

table .name-row th {
  font-size: 1.42em;
  font-weight: 500;
}

table tbody {
  font-size: 1.1em;
  font-weight: 400;
}

label {
  font-weight: 700;
  min-width: 130px;
  display: inline-block;
}

label.filter {
  min-width: 0px;
  display: block;
}

input {
  font-size: 14px;
  border-radius: 5px;
  font-weight: 700;
  color: #E5E5E5;
}

input.filter {
  display: none;
}

input[type=text] {
  height: 55px;
  background: #222533;
  width: 75%;
  font-size: .7em;
  font-weight: 400;
  padding: 10px 18px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a.button.home, input.create {
  background: #C58449;
}

a.button.home {
  margin: 0;
}

input[type=text]:focus {
  border: 3px solid #535766;
}

input.error[type=text] {
  border: 3px solid #BB4448;
  color: #E5E5E5;
}

input.update {
  background: #778909;
}

input.search {
  background: #4763C6;
}

input.delete[type=submit] {
  background: #A72A2A;
}

form h2 {
  padding: 5px 0;
}

.error {
  color: #F9444A;
  font-size: 1.5em;
}